*.o
*.d
*.a
*.so
*.dll
*.res
*.pyc
*.pyd
*.pyo
*.log
*.srt
*.words
*.dict
*.sqlite3
*.pot
*.vim
*.dot
tags
.envrc
*.depend
*.layout
*.exe
*.msi
.env
CppCheckResults.xml
/snap/.snapcraft
/build
/dist
/parts
/prime
/stage
/setup.cfg
.eggs
*.egg-info
*.snap
