aiohttp==3.4.4
async-timeout==3.0.1
attrs==18.2.0
certifi==2018.4.16
chardet==3.0.4
cx-Freeze==5.1.1
idna==2.7
idna-ssl==1.1.0
multidict==4.4.2
pybind11==2.2.4
pycryptodome==3.6.6
pydot==1.2.4
pyparsing==2.2.0
Pypubsub==4.0.0
pysubs2==0.2.3
six==1.11.0
urllib3==1.23
wxPython==4.0.3
yarl==1.2.6
