<!DOCTYPE html>
<html lang="{{ page.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta http-equiv="refresh" content="1;url=https://subsync.online" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">

{% seo %}
<script>window.location.href="https://subsync.online"</script>
}
  </head>

  <body>
    <p>Moved to <a href="https://subsync.online">https://subsync.online</a></p>
  </body>
</html>
